.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

body{
    background-color: rgb(31, 31, 31);
}

.card{
    background-color: rgb(31, 31, 31);
    color: aliceblue;
}

hr{
    color: rgb(31, 31, 31);
}
/* .d-block{
    width: 100%;
    height: 45vw;
} */
.carousel-inner .img{
    height:360px;
}

.gradient_text{
    background: linear-gradient(90deg, #000000, #ffffff);
    background-clip: text;
    color: transparent;
        /* -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
}
